#taskName {
	width: 100%;
	/* height: 35px; */
	border: none;
	border-radius: 5px;
	outline: none;

	/* @media (max-width: 600px) {
		width: 100%;
	} */
}

.addContainer {
	display: flex;
	/* justify-content: space-between; */
	flex-direction: row;
	width: 100%;

	@media (max-width: 600px) {
		flex-direction: column;
	}
}

.inputContainer {
	display: flex;
	align-items: center;
	width: 100%;
}

.btnAdd {
	@media (max-width: 600px) {
		margin: 2rem;
	}
}
