.taskContainer {
	display: flex;
	justify-content: space-between;
	border: 0.11rem solid rgb(226, 226, 226);
	padding: 1rem;
	border-radius: 0.5rem;
	width: 100%;
}

.done {
	background-color: rgb(144, 238, 144, 0.3);
	color: green;
}
.notDone {
	background-color: white;
}
