.toDoContainer {
	background-color: #f3f3f3;
	border-radius: 0.5rem;
	padding: 2rem;
	margin: 5rem;
	font-size: 2rem;
	width: 50vw;

	@media (max-width: 800px) {
		width: 95vw;
	}

	@media (max-width: 500px) {
		width: 100vw;
		margin: 1rem;
	}
}
